*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: teal;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 380px;
}

nav {
  background-color: #154E90;
  height: 85px;
}

img {
  width: 380px;
}

.data {
  background-color: #ffffff;
  height: 700px;
  /* border: 1px red solid; */
}

h1 {
  font-size: .75rem;
  text-transform: uppercase;
}

li:first-child {
  color: #154E90;
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.line-number {
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
}

li {
  color: #000000;
  font-size: 0.75rem;
}

.direction {
  background-color: #dadada;
  /* border-bottom: 1px solid red; */
  clear: both;
  padding: 10px 10px;
  text-align: center;
}

.direction h1 {
  font-size: 0.70rem;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
}

.change-of-service-cat-1 {
  color: red;
}

.change-of-service-cat-2 {
  color: red;
}

.lines {
  /* background-color: red; */
  width: 25%;
  float: left;
  padding: 10px 0px;
  padding-left: 10px;
  line-height: 1.80rem;
}

.destination {
  /* background-color: yellow; */
  width: 45%;
  float: left;
  padding: 10px 0px;
  line-height: 1.80rem;
}

.arrives {
  /* background-color: magenta; */
  width: 30%;
  float: left;
  padding: 10px 0px;
  padding-right: 10px;
  line-height: 1.80rem;
}

.bar {
  color: white;
  text-transform: capitalize;
  font-size: 0.75rem;
  text-align: center;
  /* padding-top: 40px; */
}

.fa-bars {
  color: white;
  font-size: .75rem;
}

.back-arrow {
  /* background-color: red; */
  width: 20%;
  float: left;
  padding-top: 30px;
  padding-left: 10px;
}

.stop-name {
  /* background-color: yellow; */
  width: 60%;
  float: left;
  padding-top: 35px;
}

.stop-name h1 {
  /* background-color: yellow; */
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
}

.hamburger {
  /* background-color: magenta; */
  width: 20%;
  float: left;
  padding-top: 30px;
  padding-right: 20px;
  text-align: right;
  /* font-size: 1rem; */
}

/* heading styles */

.heading {
  margin-top: 15px;
  /* border: red 1px solid; */
  background-color: #ffffff;
  height: 30px;
  padding-top: 10px;
}

.first-column {
  /* background-color: green; */
  color: #154E90;
  width: 25%;
  float: left;
  text-transform: capitalize;
  padding-left: 10px;
}

.second-column {
  /* background-color: yellow; */
  color: #154E90;
  width: 50%;
  float: left;
  text-transform: capitalize;
  font-size: 1rem;
}

.third-column  {
  /* background-color: magenta; */
  color: #154E90;
  width: 25%;
  float: left;
  text-transform: capitalize;
  padding-right: 10px;
  text-align: left;
}

/* end heading styles */

/* line styles */

.line {
  clear: both;
  /* border: blue 1px solid; */
  color: green;
  height: 65px;
  padding-top: 15px;
  /* margin: 0px 10px; */
  border-bottom: 1px #dadada solid;
}

.line:hover {
  background-color: lightblue;
  cursor: pointer;
}

.line-number {
  /* background-color: green; */
  color: #154E90;
  width: 25%;
  float: left;
  text-transform: capitalize;
  padding-left: 10px;
  height: 30px;
  padding-top: 5px;
  padding-right: 10px;
}

.line-number h2 {
  font-family: 'roboto', 'sans-serif';
  font-size: 1.65rem;
  color: #000000;
  font-weight: 400;
}

.route-name {
  /* background-color: yellow; */
  color: #154E90;
  width: 50%;
  float: left;
  text-transform: capitalize;
  font-size: 1rem;
}

.route-name h2 {
  font-family: 'roboto', 'sans-serif';
  font-weight: 400;
  color: #000000;
  padding-top: 5px;
  font-size: 0.80rem;
  text-transform: uppercase;
}

.route-name h3 {
  font-family: 'roboto', 'sans-serif';
  font-weight: 400;
  color: gray;
  padding-top: 5px;
  font-size: 0.75rem;
  text-transform: lowercase;
}

.arrival-time  {
  /* background-color: magenta; */
  color: #154E90;
  width: 25%;
  float: left;
  text-transform: capitalize;
  padding-right: 10px;
  text-align: right;
}

.arrival-time h2 {
  color: gray;
  font-size: 1rem;
  padding-top: 3px;
  text-align: left;
  font-family: 'roboto', 'sans-serif';
  font-weight: 300;
}

.arrival-time h3 {
  color: gray;
  padding-top: 5px;
  font-size: 0.70rem;
  text-align: left;
  font-family: 'roboto', 'sans-serif';
  font-weight: 300;
}

.resume-service h3{
  color: #FF2E0D;
  font-size: 0.70rem;
  font-weight: 500;
}

.out-of-service h3 {
  color: #FF2E0D;
  font-weight: 500;
}

.re-route h3 {
  color: #FFB10D;
  font-weight: 500;
}


/* end line styles */
