*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F2F2F2;
  font-family: 'roboto', 'sans-serif';
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 380px;
  margin-top: 30px;
}

nav {
  background-color: #154E90;
  height: 85px;
}

/* fontawesome api */
.fa-bars {
  color: white;
  font-size: .75rem;
}

.back-arrow {
  width: 20%;
  float: left;
  padding-top: 30px;
  padding-left: 10px;
}

.hamburger {
  width: 20%;
  float: left;
  padding-top: 30px;
  padding-right: 20px;
  text-align: right;
}
/* end fontawesome api */

.stop-name {
  width: 60%;
  float: left;
  padding-top: 35px;
}

.stop-name h1 {
  color: white;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

img {
  width: 380px;
}

.data {
  background-color: #ffffff;
  height: 500px;
  overflow: scroll;
}

h1 {
  font-size: .75rem;
  text-transform: uppercase;
}

/* gray bars */
.direction {
  background-color: #dadada;
  clear: both;
  padding: 10px 10px;
  text-align: center;
}

.direction h1 {
  font-size: 0.70rem;
  font-weight: 500;
}
/* end gray bars */

.heading {
  margin-top: 15px;
  height: 30px;
  padding-top: 10px;
}

.first-column {
  color: #154E90;
  width: 25%;
  float: left;
  padding-left: 10px;
}

.second-column {
  color: #154E90;
  width: 50%;
  float: left;
  font-size: 1rem;
}

.third-column  {
  color: #154E90;
  width: 25%;
  float: left;
  padding-right: 10px;
  text-align: left;
}

.line {
  clear: both;
  height: 65px;
  padding-top: 15px;
  border-bottom: 1px #dadada solid;
}

.line:hover {
  background-color: #dbe3f3;
  cursor: pointer;
}

.line-number {
  width: 25%;
  float: left;
  padding-left: 10px;
  height: 30px;
  padding-top: 5px;
  padding-right: 10px;
}

.line-number h2 {
  font-size: 1.65rem;
  color: #1e1f21;
  font-weight: 400;
}

.route-name {
  width: 50%;
  float: left;
  font-size: 1rem;
}

.route-name h2 {
  font-weight: 500;
  color: #1e1f21;
  padding-top: 5px;
  font-size: 0.80rem;
  text-transform: uppercase;
}

.route-name h3 {
  font-weight: 400;
  color: #97979a;
  padding-top: 5px;
  font-size: 0.75rem;
}

.arrival-time  {
  width: 25%;
  float: left;
  padding-right: 10px;
  text-align: right;
}

.arrival-time h2 {
  color: #97979a;
  font-size: 1rem;
  padding-top: 3px;
  text-align: left;
  font-weight: 400;
}

.arrival-time h3 {
  color: #97979a;
  padding-top: 5px;
  font-size: 0.70rem;
  text-align: left;
  font-weight: 300;
}

.out-of-service h3 {
  color: #FF2E0D;
  font-weight: 500;
}

.re-route h3 {
  color: #FFB10D;
  font-weight: 500;
}
